CompileFlags:
  Add:
    - --cuda-path=C://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v13.0
    - -LC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v13.0//lib
    - -IC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v13.0//include